body {
  padding: 20px;
  margin: 0;
  padding-top: 0;
  background-color: rgb(211, 215, 216);
}
.header-bg {
  display: flex;
  margin: 20px 50px 30px 30px;
}
.profile-section {
  margin-left: 100px;
  margin-top: 50px;
}
.experiance {
  margin: 10px;
  justify-content: center;
  margin-left:250px;
}
.personal {
  display: flex;
  justify-content: center;
  margin-left: 100px; /
}
.profile-Img {
  border-radius: 50%;
  margin-left: 70px;
}
.tablestyle {
  border: 3px dotted;

}